body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

    /* Background image */
    background-image: url(img/restaurantBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;;
}


.main-header {
    font-size: 40px;
    font-weight: 600;
    margin: 15px;
}

.counter-text {
    font-size: 50px;
    font-weight: 600;
    margin: 15px;
}

.increment-btn, .save-btn, .reset-btn{
    margin: 5px;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.increment-btn{
    background-color: red;
}

.save-btn {
    background-color: green;
}

.reset-btn {
    width: 100px;
    font-size: 15px;
    font-weight: 600px;
    padding: 5px;
    color: black;
}

.prev-text {
    margin: 10px;
    font-size: 24px;
    font-weight: 500px;
}