body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

main {
    width: 500px;
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}